*.iml
.gradle
.gradle/*
local.properties
/gradle.properties
/.idea/*
.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/workspace.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
buildSrc/build/*
buildSrc/.gradle/*
/.gradle/
/.idea/
*/lint
lint